.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: blue;
    width: 100%;
    border-bottom: 2px black solid;
}
* {
margin: 0;
padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container p {
    padding: 10px;
}
.container p:hover {
    cursor: pointer;
    background-color: white;
    
}

